@import "includes/base";
@import "includes/common";
@import "includes/variables";

header {
  .banner {
    .logo-wrapper {
      text-align: center;
      padding-top: 10px;
      border-bottom: 1px solid #999;
      #logo {
        padding: 5px;
        width: 200px;
        height: auto;
      }
    }
    .nav-wrapper {
      border-top: 1px solid #999;
      border-bottom: 1px solid #999;
      .nav-items {
        width: 100%;
        padding: 5px;
        margin: 0;
        text-align: center;
        @media screen and (max-width: 1300px) {
          width: 800px;
          margin: auto;
        }
        @media screen and (max-width: 800px) {
          width: 100%;
        }
        .nav-item {
          padding: 11px 10px 10px 10px;
          display: inline-block;
          text-transform: uppercase;
          letter-spacing: 0.07em;
          font-size: 12px;
          &.active {
            color: coral;
          }
        }
      }
    }
  }
}
.carousel-wrapper {
  width: 100%;
  .swiper-container {
      width: 100%;
      height: auto;
      font-size: 72px;
      text-align: center;
      margin: auto;
  }
}
.products {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 12px;

  .product {
    width: 25%;
    @media screen and (max-width: 1024px) {
      width: 33.33%;
    }
    @media screen and (max-width: 768px) {
      width: 50%;
    }
    padding: 15px;
    display: inline-block;
    vertical-align: top;
    .imagewrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .product-info-wrapper {
      padding: 5px;
      font-size: 14px;
      .name {
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .stars {
        text-align: right;
        .star {
          color: rgb(255,207,3);
          display: inline-block;
          padding-right: 2px;
          vertical-align: sub;
        }
      }
      .rating {
        padding-left: 5px;
        margin-top: -14px;
        text-align: right;
      }
      .pricewrapper {
        text-align: right;
        font-weight: bold;
        .discount {
          padding-left: 5px;
          font-weight: normal;
          color: #d65366;
        }
      }
    }
  }
}