@import "includes/base";
@import "includes/common";
@import "includes/variables";

header {
  border-right: 1px solid black;
  .banner {
    .logo-wrapper {
      text-align: center;
      padding-top: 10px;
      #logo {
        padding: 5px;
        width: 100%;
        height: auto;
      }
    }
    .nav-wrapper {
      .nav-items {
        width: 100%;
        .nav-item {
          width: 100%;
          padding: 10px;
          display: block;
        }
      }
    }
  }
}
.carousel-wrapper {
  width: 100%;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  .swiper-container {
      width: 100%;
      height: 300px;
      font-size: 72px;
      text-align: center;
      margin: auto;
  }
}
.products {
  .product {
    width: 25%;
    @media screen and (max-width: 1024px) {
      width: 33.33%;
    }
    @media screen and (max-width: 768px) {
      width: 50%;
    }
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
    .imagewrapper {
      img {
        width: 100%;
      }
    }
    .product-info-wrapper {
      padding: 5px;
    }
  }
}