div.carousel-wrapper
  div.carousel.swiper-container
    div.swiper-wrapper
      div.swiper-slide(style="background: darkseagreen;")
      div.swiper-slide(style="background: coral;")
      div.swiper-slide(style="background: lightpink;")
      div.swiper-slide(style="background: mediumpurple;")
      div.swiper-slide(style="background: powderblue;")