header
  div.banner
    div.logo-wrapper
      img#logo(src="./images/logo.png")
    div.carousel-wrapper
      div.carousel.swiper-container
        div.swiper-wrapper
          div.swiper-slide(style="background: darkseagreen;") DANNE
          div.swiper-slide(style="background: coral;")  ÄR
          div.swiper-slide(style="background: lightpink;") BÖÖÖÖG
          div.swiper-slide(style="background: mediumpurple;")
          div.swiper-slide(style="background: powderblue;")
    div.nav-wrapper
      ul.nav-items
        li.nav-item category
        li.nav-item category
        li.nav-item category
        li.nav-item category
        li.nav-item category
        li.nav-item category
        li.nav-item category
        li.nav-item category
        li.nav-item category
        li.nav-item category



