header.left-fixed.hidden-md-down
  div.banner
    div.logo-wrapper
      img#logo(src="./images/logo.png")
    div.nav-wrapper
      ul.nav-items
        li.nav-item(data-category="discount") Most discount
        li.nav-item(data-category="fashion") Fashion
        li.nav-item(data-category="electronics") Electronics
        li.nav-item(data-category="sports") Sports
        li.nav-item(data-category="healthbeauty") Toys & Hobbies
        li.nav-item(data-category="toyshobbies") Shoes
        li.nav-item(data-category="hairaccessories") Hair & Accessories
        li.nav-item(data-category="kidsbaby") Kids & Baby
        li.nav-item(data-category="homeoffice") Home & Office
        li.nav-item(data-category="automotive") Automotive




