div.products
  div.product
    div.imagewrapper
      a
        img
        span.discount 90%
    div.name Hair
    div.desc Some Hair...
    div.pricewrapper
      span.price 99$
      span.oldprice 9$
      span.discount (90%)
    div.review
      div.stars
        span.star
        span.star
        span.star
      div.rating (3.0)
    div.buy
      button Buy