@import "includes/variables";

.hidden {
  display: none;
}

.red {
  background: $red;
}

.yellow {
  background: $yellow;
}

h1 {
  font-weight: 300;
  text-align: center;
  font-size: 60px;
  margin-top: 180px;
}

.left-fixed {
  position: fixed;
  left: 0;
  width: 150px;
  height: 100vh;
  @media screen and (max-width: 768px) {
    width: 0;
  }
}

.hidden-md-down {
  @media screen and (max-width: 768px) {
    display: none;
  }
}