@import "includes/variables";

.hidden {
  display: none;
}

.red {
  background: $red;
}

.yellow {
  background: $yellow;
}

.lobster {
  font-family: 'Rubik', Arial, sans-serif;
}

.playfair {
  font-family: 'Playfair Display', Arial, sans-serif;
  letter-spacing: 0.07em;
}

.opensans {
  font-family: 'Open Sans', Arial, sans-serif;
}

.opensanscondensed {
  font-family: 'Open Sans Condensed', Arial, sans-serif;
}

.lobster {
  font-family: 'Lobster', Arial, sans-serif;
}

h1 {
  font-weight: 300;
  text-align: center;
  font-size: 60px;
  margin-top: 180px;
}
